server:
  port: 8081
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/hughob36/Sistema-de-Gesti-n-de-Inventario.git
          search-paths: config-data
